
@{
    ViewBag.Title = "FlightPathView";
}


@model Ex3.Models.IModel

<html>

<head>
    <title>Display Current Path</title>
    <p hidden id="xLocation">@this.Model.XY.X</p>
    <p hidden id="yLocation">@this.Model.XY.Y</p>
    <link rel="stylesheet" type="text/css" href="~/Content/fullpageimg.css" />

</head>
<body>
    <img id="backgroundMap" src="~/Content/map.png" width="0" height="0" />
    <canvas id="mainCanvas"></canvas>
    <script type="text/javascript">

				function drawMap(ctx) {
					var img = document.getElementById("backgroundMap");
					ctx.drawImage(img, 0, 0, canvas.width, canvas.height);


				}
				function drawPoint(ctx, x, y) {

					// bigger circle:
					ctx.beginPath();
					ctx.fillStyle = "yellow";
					ctx.arc(x, y, 5, 0, 2 * Math.PI);
					ctx.fill();
					// smaller circle:
					ctx.beginPath();
					ctx.fillStyle = "red";
					ctx.arc(x, y, 3, 0, 2 * Math.PI);
					ctx.fill();
				}

				// main:
				var canvas = document.getElementById("mainCanvas");
				canvas.width = window.innerWidth;
				canvas.height = window.innerHeight;
                var ctx = canvas.getContext('2d');

                var interval = 4;
                var t = setInterval(start, 1000.0 / interval);
                function start() {
                    i++;
                    var input = {
                        vars: `${fileName},${i}`,///////////////////////////
                    };
                    $.get("@Url.Action("GetCoordinates", "data")", input).done(function (data) {
                        var xmlDoc = $.parseXML(data),
                        $xml = $(xmlDoc),
                        Lon = $xml.find("Lon").text();////////////////
                        Lat = $xml.find("Lat").text();///////////////
                        if(Lon.localeCompare("EOF") == 0 || Lat.localeCompare("EOF") == 0) {
                            // done
                            alert("done!");
                            clearInterval(t);
                        } else {
                        //var x = Math.abs(@Model.XY.X) + 200;
				        //var y = Math.abs(@Model.XY.Y) + 200;
				        //drawMap(ctx);
				        //drawPoint(ctx, x, y);
                            drawMap(ctx);
                            drawPoint(ctx, parseFloat(Lon), parseFloat(Lat));
                        }
                    });
                }
    </script>

</body>
</html>

